<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
</head>
<script src="public/script.js"></script>

<h1><?php echo $title; ?> <a class="btn btn-info" href="http://localhost:8080/slimApiClient/fruits/add">Add Fruit</a></h1>
<table class='table'>
 <tr><th>Fruit Name</th><th>Fruit Color</th><th>Season</th><th>Calories</th><th>Description</th></tr>
 <?php
 foreach($responseRecords as $fruit) {
   $tableRows = $tableRows . "<tr>";
     $tableRows = $tableRows . "<td>".$fruit["fruit_name"]."</td><td>".$fruit_color["fruit_color"]."</td><td>".$season["season"]."</td>" . "<td>".$calories["calories"]."</td>" . "<td>".$description["description"]."</td>";
     $tableRows = $tableRows . "<td>
       <a href='http://localhost:8080/slimApiClient/fruits/".$fruit["id"]."' class='btn btn-primary'>View Details</a>
       <a href='http://localhost:8080/slimApiClient/fruits/".$fruit["id"]."/edit' class='btn btn-secondary'>Edit</a>
       <a data-id='".$fruit["id"]."' class='btn btn-danger deletebtn'>Delete</a>

     </td>";
     $tableRows = $tableRows . "</tr>";
   };
   echo $tableRows; ?>

 </table>